@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

* {
    margin: 0;
    padding: 0;
}

html,
body {
  height: 100%;
  overflow-y: scroll;

  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #c2c3bc;
    min-height: 100vh;
    overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #dbe6e3;
}
